body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidebar-container {
    background-color: rgb(75, 173, 248);
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    gap: 10px;
    grid-template-rows: 30px 30px repeat(6, 20px) 30px repeat(3, 20px);
}

.main-content-container {
    background-color: rgb(210, 213, 214);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.your-projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 20px;
}

.announcement-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Announcements {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    background-color: white;
    border-radius: 5px;
    border-left: 8px solid rgb(213, 156, 50);
    padding: 10px;
    box-shadow: rgb(174, 173, 173) 1px 5px;
}

.buttom-header {
    display: flex;
}

button {
    background-color: rgb(75, 173, 248);
    color: white;
    border-radius: 15px;
    border: 0px;
    height: 25px;
    width: 60px;
}

.profiles {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}