body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}

.header-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: rgb(174, 173, 173) 0px 10px;
    height: auto;
    padding-bottom: 20px;
}

.top-header {
    display: flex;
    gap: 100px;
}

.profile-info-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-top-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.profile-name {
    font-weight: bolder;
}

.fa-magnifying-glass {
    margin-left: 40px;
}

.buttom-header {
    display: flex;
    gap: 350px;
    margin-top: 25px;
}

.profile-morgan-bottom-header {
    border-radius: 200px;
    width: 50px;
    height: 50px;
    margin-left: 42px;
}

.left-bottom-header {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.profile-container {
    font-weight: bolder;
}

.hi-there {
    font-size: 12px;
}

.sidebar-container {
    background-color: #0096FF;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    gap: 10px;
    grid-template-rows: 30px 30px repeat(6, 20px) 30px repeat(3, 20px);
    font-weight: bolder;
}

.icon-text-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
}

.icon {
    margin-left: 10px;
}

.main-content-container {
    background-color: rgb(210, 213, 214);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.your-projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-left: 20px;
}

.announcement-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 20px;
}

.Announcements {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.Trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: 20px;
}

.trending-part {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card {
    background-color: white;
    border-radius: 5px;
    border-left: 8px solid rgb(213, 156, 50);
    padding: 10px;
    box-shadow: rgb(174, 173, 173) 1px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

button {
    background-color: #0096FF;
    color: white;
    border-radius: 15px;
    border: 0px;
    height: 25px;
    width: 60px;
}

.profiles {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.searchbar {
    background-color: rgb(210, 213, 214);
    border-radius: 15px;
    width: 500px;
    height: 25px;
}

.profile-morgan-top-header {
    border-radius: 200px;
    height: 40px;
    width: 40px;
}

.profile-name {
    font-size: 16px;
    align-self: center;
}